.spacer {
    height: max(3vw, 30px);
    background-color: #E2CFEA;
}

.bottom {
    position: absolute;
    background-color: #102B3F;
    border-radius: 2vw 2vw 0 0;
    height: max(3vw, 20px);
    margin: 0;
    padding: 0;
    padding-bottom: max(0.8vw, 40px);
    width: 100%;
}

.bottom h2 {
    float: right;
    margin: max(1vw, 20px);
    font-size: max(1.25vw, 20px);
    color: #E2CFEA;
}