.glowPurple {
  text-shadow:1px 3px 7px #A06CD5,
    1px 5px 15px #A06CD5;
}

.rainbowHover:hover {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  cursor: pointer;
  text-shadow: none;
  transition: all 0.5s ease-in-out;
  transform: rotate3d(0,0,0,0deg);
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
  --color-primary: #A06CD5;
  --color-secondary: #9252D3;
  --color-tertiary: #8033CE;
  --color-quaternary: #6617B5;
  --color-quinary: #4A058F;
}

.text3d {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

:root {
  --neon-text-color: #6247AA;
  --neon-border-color: #A06CD5;
}

.neonBody {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.neonTitle {
  font-size: max(7vw, 75px);
  color: #fff;
  padding: 2vw 16vw 2vw;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;     
}

.neonTitle::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neonTitle::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neonTitle:focus {
  outline: none;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    } 
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "o"; }
  2.2791%, 25.0698% { content: "ob"; }
  3.4186%, 23.9302% { content: "obl"; }
  4.5581%, 22.7907% { content: "oble"; }
  5.6977%, 21.6512% { content: "obleč"; }
  6.8372%, 20.5116% { content: "obleče"; }
  7.9767%, 19.3721% { content: "oblečen"; }
  9.1163%, 18.2326% { content: "oblečeni"; }
  10.2558%, 17.0930% { content: "oblečenie"; }

  30.7674%, 51.2791% { content: "t"; }
  31.9070%, 50.1395% { content: "to"; }
  33.0465%, 49.0000% { content: "top"; }
  34.1860%, 47.8605% { content: "topá"; }
  35.3256%, 46.7209% { content: "topán"; }
  36.4651%, 45.5814% { content: "topánk"; }
  37.6047%, 44.4419% { content: "topánky"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "t"; }
  56.9767%, 72.9302% { content: "ta"; }
  58.1163%, 71.7907% { content: "taš"; }
  59.2558%, 70.6512% { content: "tašk"; }
  60.3953%, 69.5116% { content: "tašky"; }

  78.6279%, 96.8605% { content: "r"; }
  79.7674%, 95.7209% { content: "re"; }
  80.9070%, 94.5814% { content: "rep"; }
  82.0465%, 93.4419% { content: "repy"; }
  83.1860%, 92.3023% { content: "repy!"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "oblečenie"; }
    25% { content: "topánky"; }
    50% { content: "tašky"; }
    75% { content: "repy"; }
  }

  .typewriter::before {
    content: "topánky";
    animation: sequencePopup 12s linear infinite;
  }
}