@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
  color: 0;
  background-color: #102B3F;
}

h1 {
  font-family: 'Roboto';
}