.glowPurple {
  text-shadow:1px 3px 7px #A06CD5,
    1px 5px 15px #A06CD5;
}

.rainbowHover:hover {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  cursor: pointer;
  text-shadow: none;
  transition: all 0.5s ease-in-out;
  transform: rotate3d(0,0,0,0deg);
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}