@media (min-width: 880px) {
    .mobile-filters {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 880px) {
    .filters {
        display: none;
        visibility: hidden;
    }

    #filterText {
        display: none;
        visibility: hidden;
    }

    .shopBlock hr  {
        display: none;
        visibility: hidden;
    }

    .dropdownSort  {
        display: none;
        visibility: hidden;
    }

    #itemCount {
        position: absolute;
        top: 55px;
        left: 5px;
        font-size: 16px;
        margin: 0 !important;
    }

    .nftBody {
        margin: 10px !important;
        width: 160px !important;
        height: 260px !important;
    }

    .multi-button {
        margin-top: 10vw;
    }

    .tokenImage {
        max-width: 125px !important;
        min-width: 125px !important;
        min-height: 125px !important;
        max-height: 125px !important;
    }

    .nftMain h2 {
        font-size: 17px !important;
        margin: 0;
        margin-top: 5px;
    }

    .description {
        font-size: 11px !important;
        margin: 0;
        margin-top: 5px;
    }

    .tokenInfo {
        position: absolute;
        left: 14px;
        width: 86%;
        margin: 0 !important;
    }

    .price {
        font-size: 11px !important;
    }

    .duration {
        font-size: 11px !important;
    }
    
    .mobile-filters {
        margin-top: 5px;
        display: flex;
        position: absolute;
        right: 0;
        background-color: #102B3F;
        border-radius: 10px;
        margin-right: 10px;
    }

    .mobile-filters {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .mobile-filters p {
        color: #E2CFEA;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 24px;
        transition: 0.3s;
    }

    .mobile-filters svg {
        margin-right: 5px;
        width: 40px;
    }

    .mobile-filters:hover {
        cursor: pointer;
        background-color: #6247AA;
        transition: 0.3s;
    }

    .page {
        margin-top: 60px;
    }

    .mobile-filter-view h2 {
        font-style: bold;
        font-size: 32px;
    }
}

.shop {
    background: #E2CFEA;
    margin: 0;
    padding: 0;
    color: #102B3F;
    height: 100%;
}

.shopBlock {
    margin-left: 1vw;
    margin-right: 1vw;
}

.split {
    display: flex;
}

.filters {
    float: left;
    width: max(12%, 175px);
    margin-left: 0.2vw;
    border-right: 5px solid #102B3F;
    border-radius: 4px;
    margin-bottom: 0.5vw;
}

.page {
    float: left;
    width: 90%;
    margin-left: 1vw;
}

hr {
    border: 5px solid #102B3F;
    border-radius: 4px;
}